In [106]:
# Dependencies
import requests
import numpy as np
import pandas as pd
import scipy.stats as st
import json
import matplotlib.pyplot as plt

In [107]:
pip install census

Requirement already satisfied: census in c:\users\megan\anaconda3\lib\site-packages (0.8.19)
Requirement already satisfied: requests>=1.1.0 in c:\users\megan\anaconda3\lib\site-packages (from census) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\megan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\megan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\megan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\megan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

In [108]:
from census import Census

In [109]:
# Import U.S. Census API Key
from census_api import census_api_key

In [110]:
url = "https://api.census.gov/data"

print(url)

https://api.census.gov/data

In [111]:
#convert columns to float

In [112]:
#total population = "B01001_001E"
# Female population = "B01001_026E" Male = "B01001_002E"
#race = "B02001_001E"
# median income in past 12months = "B06011_001E"

In [113]:
#total population 2021
population = "B01001_001E"
year = "2021"

url_2021 = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year, population, census_api_key)

data_2021 = requests.request("GET", url_2021)
data_2021.status_code

data_2021_df = pd.DataFrame(data_2021.json()[1:], columns=data_2021.json()[0])
data_2021_df

data_2021 = data_2021_df.rename(columns={"B01001_001E": "Total Population","NAME": "State"})
data_2021.head(10)

                  State Total Population state
0               Alabama          4997675    01
1                Alaska           735951    02
2               Arizona          7079203    04
3              Arkansas          3006309    05
4            California         39455353    06
5              Colorado          5723176    08
6           Connecticut          3605330    09
7              Delaware           981892    10
8  District of Columbia           683154    11
9               Florida         21339762    12

In [ ]:
#total population 2020
year_2020 = "2020"

url_2020 = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_2020, population, census_api_key)

data_2020 = requests.request("GET", url_2020)

data_2020_df = pd.DataFrame(data_2020.json()[1:], columns=data_2020.json()[0])
data_2020_df

data_2020 = data_2020_df.rename(columns={"B01001_001E": "Total Population","NAME": "State"})
data_2020.head(10)

                  State Total Population state
0          Pennsylvania         12794885    42
1            California         39346023    06
2         West Virginia          1807426    54
3                  Utah          3151239    49
4              New York         19514849    36
5  District of Columbia           701974    11
6                Alaska           736990    02
7               Florida         21216924    12
8        South Carolina          5091517    45
9          North Dakota           760394    38

In [ ]:
#total population 2019
year_2019 = "2019"

url_2019 = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_2019, population, census_api_key)

data_2019 = requests.request("GET", url_2019)

data_2019_df = pd.DataFrame(data_2019.json()[1:], columns=data_2019.json()[0])
data_2019_df

data_2019 = data_2019_df.rename(columns={"B01001_001E": "Total Population","NAME": "State"})
data_2019.head(10)

                  State Total Population state
0               Alabama          4876250    01
1                Alaska           737068    02
2               Arizona          7050299    04
3              Arkansas          2999370    05
4            California         39283497    06
5              Colorado          5610349    08
6              Delaware           957248    10
7  District of Columbia           692683    11
8           Connecticut          3575074    09
9               Florida         20901636    12

In [119]:
#combine 2019 & 2020
combined_data_df = pd.merge(data_2019_df,data_2020_df, on="NAME")
combined_data = combined_data_df.rename(columns={"B01001_001E_x": "2019", "B01001_001E_y": "2020"})
combined_data

#combine 2019/2020 & 2021
combined_data_2_df = pd.merge(combined_data_df,data_2021_df, on="NAME")
combined_data_2 = combined_data_2_df.rename(columns={"B01001_001E_x": "2019", "B01001_001E_y": "2020", "B01001_001E": "2021"})

#drop the numbered "state" columns
combined_data_2.drop(columns=["state_x", "state_y", "state"], inplace=True)
combined_data_2.head(10)

                   NAME      2019      2020      2021
0               Alabama   4876250   4893186   4997675
1                Alaska    737068    736990    735951
2               Arizona   7050299   7174064   7079203
3              Arkansas   2999370   3011873   3006309
4            California  39283497  39346023  39455353
5              Colorado   5610349   5684926   5723176
6              Delaware    957248    967679    981892
7  District of Columbia    692683    701974    683154
8           Connecticut   3575074   3570549   3605330
9               Florida  20901636  21216924  21339762

In [ ]:
#data for poverty determination
#"Total person's income (signed, use ADJINC to adjust to constant dollars)"
#Household income (past 12 months, use ADJINC to adjust HINCP to constant dollars)
#"Total person's earnings (use ADJINC to adjust to constant dollars)"
#"Recoded field of degree - first entry"
#Public assistance income past 12 months (use ADJINC to adjust to constant dollars)
#"Gross rent as a percentage of household income past 12 months" 
#"Supplementary Security Income allocation flag"
#"Yearly food stamp/Supplemental Nutrition Assistance Program (SNAP) recipiency"
#"On layoff from work (UNEDITED-See 'Employment Status Recode' (ESR))"
#"Employment status recode"

#loan_type_df["Dollars Outstanding (billions)(Consolidation)"] =loan_type_df["Dollars Outstanding (billions)(Consolidation)"].replace("[$,]", "", regex=True).astype(float)
#replace loan_type_df with your dataframe, and "Dollars blah blah" is the column