In [37]:
# Dependencies
import requests
import numpy as np
import pandas as pd
import scipy.stats as st
import json
import matplotlib.pyplot as plt
from census import Census

In [38]:
# Import U.S. Census API Key
from census_api import census_api_key

url = "https://api.census.gov/data"

In [39]:
#EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS 2019
earnings = "B19051_001E"
year_19 = "2019"

earnings_url = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_19, earnings, census_api_key)

earnings_2019 = requests.request("GET", earnings_url)

earnings_2019_df = pd.DataFrame(earnings_2019.json()[1:], columns=earnings_2019.json()[0])

earnings_2019_df.head()

         NAME B19051_001E state
0     Alabama     1867893    01
1      Alaska      253346    02
2     Arizona     2571268    04
3    Arkansas     1158071    05
4  California    13044266    06

In [40]:
earnings_2019_df
earnings_2019= earnings_2019_df.rename(columns={"B19051_001E": "EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS","NAME": "State"})
earnings_2019.drop(columns=["state"], inplace=True)
earnings_2019_2 = earnings_2019.astype({"EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS":int})
earnings_2019.head(10)

                  State EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS
0               Alabama                                       1867893
1                Alaska                                        253346
2               Arizona                                       2571268
3              Arkansas                                       1158071
4            California                                      13044266
5              Colorado                                       2148994
6              Delaware                                        363322
7  District of Columbia                                        284386
8           Connecticut                                       1370746
9               Florida                                       7736311

In [42]:
sorted_earnings_2019 = earnings_2019.sort_values(by=["EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS"], ascending=False)
sorted_earnings_2019.head()

         State EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS
45        Utah                                        977313
43       Texas                                       9691647
31  New Mexico                                        780249
9      Florida                                       7736311
27    Nebraska                                        759176

In [1]:
#EARNINGS IN THE PAST 12 MONTHS FOR HOUSEHOLDS 2020
earnings = "B19051_001E"
year_20 = "2020"

earnings_url_20 = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_20, earnings, census_api_key)

earnings_2020 = requests.request("GET", earnings_url_20)

earnings_2020_df = pd.DataFrame(earnings_2020.json()[1:], columns=earnings_2020.json()[0])

earnings_2020_df.head()

NameError: name 'census_api_key' is not defined