In [9]:
# Dependencies
import requests
import numpy as np
import pandas as pd
import scipy.stats as st
import json
import matplotlib.pyplot as plt
from census import Census

In [10]:
# Import U.S. Census API Key
from census_api import census_api_key

url = "https://api.census.gov/data"

In [13]:
#MONTHLY HOUSING COSTS 2019
housing = "B25105_001E"
year_19 = "2019"

housing_url = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_19, housing, census_api_key)

housing_2019 = requests.request("GET", housing_url)

housing_2019_df = pd.DataFrame(housing_2019.json()[1:], columns=housing_2019.json()[0])

housing_2019_df.head()

         NAME B25105_001E state
0     Alabama         777    01
1      Alaska        1335    02
2     Arizona        1051    04
3    Arkansas         722    05
4  California        1629    06

In [15]:
housing_2019_df
housing_2019= housing_2019_df.rename(columns={"B25105_001E": "MEDIAN MONTHLY HOUSING COSTS (DOLLARS)","NAME": "State"})
housing_2019.drop(columns=["state"], inplace=True)
housing_2019_2 = housing_2019.astype({"MEDIAN MONTHLY HOUSING COSTS (DOLLARS)":int})
housing_2019.head(10)

                  State MEDIAN MONTHLY HOUSING COSTS (DOLLARS)
0               Alabama                                    777
1                Alaska                                   1335
2               Arizona                                   1051
3              Arkansas                                    722
4            California                                   1629
5              Colorado                                   1343
6              Delaware                                   1167
7  District of Columbia                                   1707
8           Connecticut                                   1464
9               Florida                                   1100

In [16]:
#MONTHLY HOUSING COSTS 2020
housing = "B25105_001E"
year_20 = "2020"

housing_url_20 = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_20, housing, census_api_key)

housing_2020 = requests.request("GET", housing_url_20)

housing_2020_df = pd.DataFrame(housing_2020.json()[1:], columns=housing_2020.json()[0])
housing_2020_df.head()

            NAME B25105_001E state
0   Pennsylvania        1003    42
1     California        1688    06
2  West Virginia         626    54
3           Utah        1210    49
4       New York        1376    36

In [18]:
housing_2020_df
housing_2020= housing_2020_df.rename(columns={"B25105_001E": "MEDIAN MONTHLY HOUSING COSTS (DOLLARS)","NAME": "State"})
housing_2020.drop(columns=["state"], inplace=True)
housing_2020_2 = housing_2020.astype({"MEDIAN MONTHLY HOUSING COSTS (DOLLARS)":int})
housing_2020.head(10)

                  State MEDIAN MONTHLY HOUSING COSTS (DOLLARS)
0          Pennsylvania                                   1003
1            California                                   1688
2         West Virginia                                    626
3                  Utah                                   1210
4              New York                                   1376
5  District of Columbia                                   1770
6                Alaska                                   1330
7               Florida                                   1131
8        South Carolina                                    881
9          North Dakota                                    840

In [19]:
#MONTHLY HOUSING COSTS 2021
housing = "B25105_001E"
year_21 = "2021"

housing_url_21 = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_21, housing, census_api_key)

housing_2021 = requests.request("GET", housing_url_21)

housing_2021_df = pd.DataFrame(housing_2021.json()[1:], columns=housing_2021.json()[0])
housing_2021_df.head()

         NAME B25105_001E state
0     Alabama         823    01
1      Alaska        1372    02
2     Arizona        1147    04
3    Arkansas         770    05
4  California        1791    06

In [20]:
housing_2021_df
housing_2021= housing_2021_df.rename(columns={"B25105_001E": "MEDIAN MONTHLY HOUSING COSTS (DOLLARS)","NAME": "State"})
housing_2021.drop(columns=["state"], inplace=True)
housing_2021_2 = housing_2021.astype({"MEDIAN MONTHLY HOUSING COSTS (DOLLARS)":int})
housing_2021.head(10)

                  State MEDIAN MONTHLY HOUSING COSTS (DOLLARS)
0               Alabama                                    823
1                Alaska                                   1372
2               Arizona                                   1147
3              Arkansas                                    770
4            California                                   1791
5              Colorado                                   1492
6           Connecticut                                   1534
7              Delaware                                   1227
8  District of Columbia                                   1856
9               Florida                                   1196

In [29]:
#combine 2019 & 2020
housing_df = pd.merge(housing_2019_df,housing_2020_df, on="NAME")
housing_df

housing = housing_df.rename(columns={"B25105_001E_x": "2019", "B25105_001E_y": "2020"})
housing

#combine 2019/2020 & 2021
housing_2_df = pd.merge(housing,housing_2021_df, on="NAME")
housing_2 = housing_2_df.rename(columns={"B25105_001E": "2021"})

housing_2.drop(columns=["state_x", "state_y", "state"], inplace=True)
housing_2.head(10)

                   NAME  2019  2020  2021
0               Alabama   777   788   823
1                Alaska  1335  1330  1372
2               Arizona  1051  1079  1147
3              Arkansas   722   731   770
4            California  1629  1688  1791
5              Colorado  1343  1393  1492
6              Delaware  1167  1176  1227
7  District of Columbia  1707  1770  1856
8           Connecticut  1464  1475  1534
9               Florida  1100  1131  1196