In [9]:
# Dependencies
import requests
import numpy as np
import pandas as pd
import scipy.stats as st
import json
import matplotlib.pyplot as plt
from census import Census

In [10]:
# Import U.S. Census API Key
from census_api import census_api_key

url = "https://api.census.gov/data"

In [13]:
#MONTHLY HOUSING COSTS
housing = "B25105_001E"
year_19 = "2019"

housing_url = "http://api.census.gov/data/{0}/acs/acs5?get=NAME,{1}&for=state:*&key={2}".format(year_19, housing, census_api_key)

housing_2019 = requests.request("GET", housing_url)

housing_2019_df = pd.DataFrame(housing_2019.json()[1:], columns=housing_2019.json()[0])

housing_2019_df.head()

         NAME B25105_001E state
0     Alabama         777    01
1      Alaska        1335    02
2     Arizona        1051    04
3    Arkansas         722    05
4  California        1629    06

In [15]:
housing_2019_df
housing_2019= housing_2019_df.rename(columns={"B25105_001E": "MEDIAN MONTHLY HOUSING COSTS (DOLLARS)","NAME": "State"})
housing_2019.drop(columns=["state"], inplace=True)
housing_2019_2 = housing_2019.astype({"MEDIAN MONTHLY HOUSING COSTS (DOLLARS)":int})
housing_2019.head(10)

                  State MEDIAN MONTHLY HOUSING COSTS (DOLLARS)
0               Alabama                                    777
1                Alaska                                   1335
2               Arizona                                   1051
3              Arkansas                                    722
4            California                                   1629
5              Colorado                                   1343
6              Delaware                                   1167
7  District of Columbia                                   1707
8           Connecticut                                   1464
9               Florida                                   1100