In [3]:
# import dependencies
from api_keys import census_key
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from census import Census
import hvplot as hv

In [9]:
# use the census API to look at the population for each state over the last 10 years to compare the population growth of each state
base_url_2013 = "https://api.census.gov/data/2013/pep/natstprc?get=DATE_,STNAME,DOM"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2013 + all_states + key).json()
# Put the data into a dataframe
pop_2013 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2013_df = pop_2013.rename(columns=pop_2013.iloc[0]).drop(pop_2013.index[0])
pop_2013_df = pop_2013_df.set_index("DATE_")
pop_2013_df

                         STNAME   DOM state
DATE_
1                       Alabama  None    01
2                       Alabama  None    01
3                       Alabama   542    01
4                       Alabama  -154    01
5                       Alabama  -759    01
...                         ...   ...   ...
2      Puerto Rico Commonwealth     0    72
3      Puerto Rico Commonwealth     0    72
4      Puerto Rico Commonwealth     0    72
5      Puerto Rico Commonwealth     0    72
6      Puerto Rico Commonwealth     0    72

[312 rows x 3 columns]

In [11]:
# find the five states with the highest population growth in 2013
# convert the DOM column to a float
pop_2013_df["DOM"] = pop_2013_df["DOM"].astype(float)
growth_2013 = pop_2013_df.sort_values(by="DOM", ascending=False)
growth_2013.head(25)

               STNAME       DOM state
DATE_
5               Texas  142650.0    48
4               Texas  117521.0    48
6               Texas  113528.0    48
4             Florida  105305.0    12
5             Florida  100000.0    12
6             Florida   91484.0    12
6      North Carolina   37240.0    37
6            Colorado   36284.0    08
5             Arizona   34729.0    04
5      North Carolina   32791.0    37
4      North Carolina   30558.0    37
3               Texas   29891.0    48
6      South Carolina   29324.0    45
5            Colorado   28558.0    08
5           Tennessee   27345.0    47
4            Colorado   27147.0    08
5      South Carolina   26435.0    45
6             Arizona   26417.0    04
4          Washington   23112.0    53
5             Georgia   19442.0    13
6          Washington   17027.0    53
6        North Dakota   16961.0    38
4           Tennessee   15799.0    47
4      South Carolina   14860.0    45
5          Washington   14565.0    53

In [15]:
# Get the population increase for each state in 2014
base_url_2014 = "https://api.census.gov/data/2014/pep/natstprc?get=DATE_,STNAME,DOM"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2014 + all_states + key).json()
# Put the data into a dataframe
pop_2014 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2014_df = pop_2014.rename(columns=pop_2014.iloc[0]).drop(pop_2014.index[0])
pop_2014_df = pop_2014_df.set_index("DATE_")
pop_2014_df

                         STNAME   DOM state
DATE_
1                       Alabama  None    01
2                       Alabama  None    01
3                       Alabama   489    01
4                       Alabama   -98    01
5                       Alabama  -810    01
...                         ...   ...   ...
3      Puerto Rico Commonwealth     0    72
4      Puerto Rico Commonwealth     0    72
5      Puerto Rico Commonwealth     0    72
6      Puerto Rico Commonwealth     0    72
7      Puerto Rico Commonwealth     0    72

[364 rows x 3 columns]

In [16]:
# find the five states with the highest population growth in 2014
# convert the DOM column to a float
pop_2014_df["DOM"] = pop_2014_df["DOM"].astype(float)
growth_2014 = pop_2014_df.sort_values(by="DOM", ascending=False)
growth_2014.head(25)

               STNAME       DOM state
DATE_
7               Texas  154467.0    48
5               Texas  145707.0    48
7             Florida  138546.0    12
4               Texas  116516.0    48
6               Texas  116464.0    48
4             Florida  105157.0    12
5             Florida   98568.0    12
6             Florida   95807.0    12
7             Arizona   41975.0    04
7            Colorado   40318.0    08
7      South Carolina   38614.0    45
6      North Carolina   38086.0    37
6            Colorado   36506.0    08
7      North Carolina   36257.0    37
5             Arizona   33428.0    04
5      North Carolina   32005.0    37
4      North Carolina   30470.0    37
3               Texas   29507.0    48
5            Colorado   28633.0    08
6      South Carolina   28267.0    45
7          Washington   28063.0    53
5           Tennessee   27547.0    47
5      South Carolina   26369.0    45
4            Colorado   26353.0    08
6             Arizona   25792.0    04

In [46]:
# Get the population for each state in 2015
base_url_2015 = "https://api.census.gov/data/2015/pep/population?get=GEONAME,POP"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2015 + all_states + key).json()
# Put the data into a dataframe
pop_2015 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2015_df = pop_2015.rename(columns=pop_2015.iloc[0]).drop(pop_2015.index[0])

# edit GEONAME rows to include only the state name
pop_2015_df["GEONAME"] = pop_2015_df["GEONAME"].str.split(",").str[0]
# change the order to alphabetical by state name
pop_2015_df = pop_2015_df.sort_values(by="GEONAME")
pop_2015_df = pop_2015_df.set_index("GEONAME")
# rename POP column to POP_2015
pop_2015_df = pop_2015_df.rename(columns={"POP":"POP_2015"})
# convert POP_2015 column to a float
pop_2015_df["POP_2015"] = pop_2015_df["POP_2015"].astype(float)
pop_2015_df

                        POP_2015 state
GEONAME
Alabama                4858979.0    01
Alaska                  738432.0    02
Arizona                6828065.0    04
Arkansas               2978204.0    05
California            39144818.0    06
Colorado               5456574.0    08
Connecticut            3590886.0    09
Delaware                945934.0    10
District of Columbia    672228.0    11
Florida               20271272.0    12
Georgia               10214860.0    13
Hawaii                 1431603.0    15
Idaho                  1654930.0    16
Illinois              12859995.0    17
Indiana                6619680.0    18
Iowa                   3123899.0    19
Kansas                 2911641.0    20
Kentucky               4425092.0    21
Louisiana              4670724.0    22
Maine                  1329328.0    23
Maryland               6006401.0    24
Massachusetts          6794422.0    25
Michigan               9922576.0    26
Minnesota              5489594.0    27
Mississippi            2992333.0    28
Missouri               6083672.0    29
Montana                1032949.0    30
Nebraska               1896190.0    31
Nevada                 2890845.0    32
New Hampshire          1330608.0    33
New Jersey             8958013.0    34
New Mexico             2085109.0    35
New York              19795791.0    36
North Carolina        10042802.0    37
North Dakota            756927.0    38
Ohio                  11613423.0    39
Oklahoma               3911338.0    40
Oregon                 4028977.0    41
Pennsylvania          12802503.0    42
Puerto Rico            3474182.0    72
Rhode Island           1056298.0    44
South Carolina         4896146.0    45
South Dakota            858469.0    46
Tennessee              6600299.0    47
Texas                 27469114.0    48
Utah                   2995919.0    49
Vermont                 626042.0    50
Virginia               8382993.0    51
Washington             7170351.0    53
West Virginia          1844128.0    54
Wisconsin              5771337.0    55
Wyoming                 586107.0    56

In [ ]:
# Get the population for each state in 2016
base_url_2016 = "https://api.census.gov/data/2016/pep/population?get=GEONAME,POP"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2016 + all_states + key).json()
# Put the data into a dataframe
pop_2016 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2016_df = pop_2016.rename(columns=pop_2016.iloc[0]).drop(pop_2016.index[0])
# change the order to alphabetical by state name
pop_2016_df = pop_2016_df.sort_values(by="GEONAME")
pop_2016_df = pop_2016_df.set_index("GEONAME")
# rename the POP column to POP_2016
pop_2016_df = pop_2016_df.rename(columns={"POP":"POP_2016"})
# convert POP_2016 column to a float
pop_2016_df["POP_2016"] = pop_2016_df["POP_2016"].astype(float)
pop_2016_df

In [ ]:
# Get the population for each state in 2017
base_url_2017 = "https://api.census.gov/data/2017/pep/population?get=GEONAME,POP"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2017 + all_states + key).json()
# Put the data into a dataframe
pop_2017 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2017_df = pop_2017.rename(columns=pop_2017.iloc[0]).drop(pop_2017.index[0])
# change the order to alphabetical by state name
pop_2017_df = pop_2017_df.sort_values(by="GEONAME")
pop_2017_df = pop_2017_df.set_index("GEONAME")
# rename the POP column to POP_2017
pop_2017_df = pop_2017_df.rename(columns={"POP":"POP_2017"})
# convert POP_2017 column to a float
pop_2017_df["POP_2017"] = pop_2017_df["POP_2017"].astype(float)
pop_2017_df

In [ ]:
# Get the population for each state in 2018
base_url_2018 = "https://api.census.gov/data/2018/pep/population?get=GEONAME,POP"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2018 + all_states + key).json()
# Put the data into a dataframe
pop_2018 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2018_df = pop_2018.rename(columns=pop_2018.iloc[0]).drop(pop_2018.index[0])
# change the order to alphabetical by state name
pop_2018_df = pop_2018_df.sort_values(by="GEONAME")
pop_2018_df = pop_2018_df.set_index("GEONAME")
# rename the POP column to POP_2018
pop_2018_df = pop_2018_df.rename(columns={"POP": "POP_2018"})
# convert POP_2018 column to a float
pop_2018_df["POP_2018"] = pop_2018_df["POP_2018"].astype(float)
pop_2018_df

In [ ]:
# Get the population for each state in 2019
base_url_2019 = "https://api.census.gov/data/2019/pep/population?get=NAME,POP"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2019 + all_states + key).json()
# Put the data into a dataframe
pop_2019 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2019_df = pop_2019.rename(columns=pop_2019.iloc[0]).drop(pop_2019.index[0])
# change the order to alphabetical by state name
pop_2019_df = pop_2019_df.sort_values(by="NAME")
pop_2019_df = pop_2019_df.set_index("NAME")
# rename POP column to POP_2019
pop_2019_df = pop_2019_df.rename(columns={"POP": "POP_2019"})
# convert POP_2019 column to a float
pop_2019_df["POP_2019"] = pop_2019_df["POP_2019"].astype(float)
pop_2019_df

In [53]:
# Get the population for each state in 2020 and 2021
base_url_2021 = "https://api.census.gov/data/2021/pep/population?get=NAME,POP_2020,POP_2021"
key = "&key=" + census_key
all_states = "&for=state:*"
response = requests.get(base_url_2021 + all_states + key).json()
# Put the data into a dataframe
pop_2021 = pd.DataFrame(response)
# Rename the columns and set the index
pop_2021_df = pop_2021.rename(columns=pop_2021.iloc[0]).drop(pop_2021.index[0])
# change the order to alphabetical by state name
pop_2021_df = pop_2021_df.sort_values(by="NAME")
pop_2021_df = pop_2021_df.set_index("NAME")
# convert POP_2020 and POP_2021 columns to a float
pop_2021_df["POP_2020"] = pop_2021_df["POP_2020"].astype(float)
pop_2021_df["POP_2021"] = pop_2021_df["POP_2021"].astype(float)
pop_2021_df

                        POP_2020    POP_2021 state
NAME
Alabama                5024803.0   5039877.0    01
Alaska                  732441.0    732673.0    02
Arizona                7177986.0   7276316.0    04
Arkansas               3012232.0   3025891.0    05
California            39499738.0  39237836.0    06
Colorado               5784308.0   5812069.0    08
Connecticut            3600260.0   3605597.0    09
Delaware                991886.0   1003384.0    10
District of Columbia    690093.0    670050.0    11
Florida               21569932.0  21781128.0    12
Georgia               10725800.0  10799566.0    13
Hawaii                 1451911.0   1441553.0    15
Idaho                  1847772.0   1900923.0    16
Illinois              12785245.0  12671469.0    17
Indiana                6785644.0   6805985.0    18
Iowa                   3188669.0   3193079.0    19
Kansas                 2935880.0   2934582.0    20
Kentucky               4503958.0   4509394.0    21
Louisiana              4651203.0   4624047.0    22
Maine                  1362280.0   1372247.0    23
Maryland               6172679.0   6165129.0    24
Massachusetts          7022220.0   6984723.0    25
Michigan              10067664.0  10050811.0    26
Minnesota              5707165.0   5707390.0    27
Mississippi            2956870.0   2949965.0    28
Missouri               6154481.0   6168187.0    29
Montana                1086193.0   1104271.0    30
Nebraska               1961455.0   1963692.0    31
Nevada                 3114071.0   3143991.0    32
New Hampshire          1377848.0   1388992.0    33
New Jersey             9279743.0   9267130.0    34
New Mexico             2117566.0   2115877.0    35
New York              20154933.0  19835913.0    36
North Carolina        10457177.0  10551162.0    37
North Dakota            778962.0    774948.0    38
Ohio                  11790587.0  11780017.0    39
Oklahoma               3962031.0   3986639.0    40
Oregon                 4241544.0   4246155.0    41
Pennsylvania          12989625.0  12964056.0    42
Puerto Rico            3281538.0   3263584.0    72
Rhode Island           1096229.0   1095610.0    44
South Carolina         5130729.0   5190705.0    45
South Dakota            887099.0    895376.0    46
Tennessee              6920119.0   6975218.0    47
Texas                 29217653.0  29527941.0    48
Utah                   3281684.0   3337975.0    49
Vermont                 642495.0    645570.0    50
Virginia               8632044.0   8642274.0    51
Washington             7718785.0   7738692.0    53
West Virginia          1789798.0   1782959.0    54
Wisconsin              5892323.0   5895908.0    55
Wyoming                 577267.0    578803.0    56

In [59]:
# Merge 2015-2021 dataframes
pop_change_df1 = pd.merge(pop_2015_df, pop_2016_df, on="GEONAME")
pop_change_df2 = pd.merge(pop_change_df1, pop_2017_df, on="GEONAME")
pop_change_df3 = pd.merge(pop_change_df2, pop_2018_df, on="GEONAME")
# change the index name to NAME
pop_change_df3.index.name = "NAME"
pop_change_df4 = pd.merge(pop_change_df3, pop_2019_df, on="NAME")
pop_change_df = pd.merge(pop_change_df4, pop_2021_df, on="NAME")
# change the index name to STATE
pop_change_df.index.name = "STATE"
# remove columns that are not needed
pop_change_df.drop(columns=["state_x", "state_y"], inplace=True)
pop_change_df

,POP_2015,POP_2016,POP_2017,POP_2018,POP_2019,POP_2020,POP_2021
STATE,,,,,,,
Alabama,4858979.0,4863300.0,4874747.0,4887871.0,4903185.0,5024803.0,5039877.0
Alaska,738432.0,741894.0,739795.0,737438.0,731545.0,732441.0,732673.0
Arizona,6828065.0,6931071.0,7016270.0,7171646.0,7278717.0,7177986.0,7276316.0
Arkansas,2978204.0,2988248.0,3004279.0,3013825.0,3017804.0,3012232.0,3025891.0
California,39144818.0,39250017.0,39536653.0,39557045.0,39512223.0,39499738.0,39237836.0
Colorado,5456574.0,5540545.0,5607154.0,5695564.0,5758736.0,5784308.0,5812069.0
Connecticut,3590886.0,3576452.0,3588184.0,3572665.0,3565287.0,3600260.0,3605597.0
Delaware,945934.0,952065.0,961939.0,967171.0,973764.0,991886.0,1003384.0
District of Columbia,672228.0,681170.0,693972.0,702455.0,705749.0,690093.0,670050.0
Florida,20271272.0,20612439.0,20984400.0,21299325.0,21477737.0,21569932.0,21781128.0
Georgia,10214860.0,10310371.0,10429379.0,10519475.0,10617423.0,10725800.0,10799566.0
Hawaii,1431603.0,1428557.0,1427538.0,1420491.0,1415872.0,1451911.0,1441553.0
Idaho,1654930.0,1683140.0,1716943.0,1754208.0,1787065.0,1847772.0,1900923.0
Illinois,12859995.0,12801539.0,12802023.0,12741080.0,12671821.0,12785245.0,12671469.0
Indiana,6619680.0,6633053.0,6666818.0,6691878.0,6732219.0,6785644.0,6805985.0
Iowa,3123899.0,3134693.0,3145711.0,3156145.0,3155070.0,3188669.0,3193079.0
Kansas,2911641.0,2907289.0,2913123.0,2911505.0,2913314.0,2935880.0,2934582.0
Kentucky,4425092.0,4436974.0,4454189.0,4468402.0,4467673.0,4503958.0,4509394.0
Louisiana,4670724.0,4681666.0,4684333.0,4659978.0,4648794.0,4651203.0,4624047.0
Maine,1329328.0,1331479.0,1335907.0,1338404.0,1344212.0,1362280.0,1372247.0
Maryland,6006401.0,6016447.0,6052177.0,6042718.0,6045680.0,6172679.0,6165129.0
Massachusetts,6794422.0,6811779.0,6859819.0,6902149.0,6892503.0,7022220.0,6984723.0
Michigan,9922576.0,9928300.0,9962311.0,9995915.0,9986857.0,10067664.0,10050811.0
Minnesota,5489594.0,5519952.0,5576606.0,5611179.0,5639632.0,5707165.0,5707390.0
Mississippi,2992333.0,2988726.0,2984100.0,2986530.0,2976149.0,2956870.0,2949965.0
Missouri,6083672.0,6093000.0,6113532.0,6126452.0,6137428.0,6154481.0,6168187.0
Montana,1032949.0,1042520.0,1050493.0,1062305.0,1068778.0,1086193.0,1104271.0
Nebraska,1896190.0,1907116.0,1920076.0,1929268.0,1934408.0,1961455.0,1963692.0
Nevada,2890845.0,2940058.0,2998039.0,3034392.0,3080156.0,3114071.0,3143991.0
New Hampshire,1330608.0,1334795.0,1342795.0,1356458.0,1359711.0,1377848.0,1388992.0
New Jersey,8958013.0,8944469.0,9005644.0,8908520.0,8882190.0,9279743.0,9267130.0
New Mexico,2085109.0,2081015.0,2088070.0,2095428.0,2096829.0,2117566.0,2115877.0
New York,19795791.0,19745289.0,19849399.0,19542209.0,19453561.0,20154933.0,19835913.0
North Carolina,10042802.0,10146788.0,10273419.0,10383620.0,10488084.0,10457177.0,10551162.0
North Dakota,756927.0,757952.0,755393.0,760077.0,762062.0,778962.0,774948.0
Ohio,11613423.0,11614373.0,11658609.0,11689442.0,11689100.0,11790587.0,11780017.0
Oklahoma,3911338.0,3923561.0,3930864.0,3943079.0,3956971.0,3962031.0,3986639.0
Oregon,4028977.0,4093465.0,4142776.0,4190713.0,4217737.0,4241544.0,4246155.0
Pennsylvania,12802503.0,12784227.0,12805537.0,12807060.0,12801989.0,12989625.0,12964056.0
Puerto Rico,3474182.0,3411307.0,3337177.0,3195153.0,3193694.0,3281538.0,3263584.0
Rhode Island,1056298.0,1056426.0,1059639.0,1057315.0,1059361.0,1096229.0,1095610.0
South Carolina,4896146.0,4961119.0,5024369.0,5084127.0,5148714.0,5130729.0,5190705.0
South Dakota,858469.0,865454.0,869666.0,882235.0,884659.0,887099.0,895376.0
Tennessee,6600299.0,6651194.0,6715984.0,6770010.0,6829174.0,6920119.0,6975218.0
Texas,27469114.0,27862596.0,28304596.0,28701845.0,28995881.0,29217653.0,29527941.0
Utah,2995919.0,3051217.0,3101833.0,3161105.0,3205958.0,3281684.0,3337975.0
Vermont,626042.0,624594.0,623657.0,626299.0,623989.0,642495.0,645570.0
Virginia,8382993.0,8411808.0,8470020.0,8517685.0,8535519.0,8632044.0,8642274.0
Washington,7170351.0,7288000.0,7405743.0,7535591.0,7614893.0,7718785.0,7738692.0
West Virginia,1844128.0,1831102.0,1815857.0,1805832.0,1792147.0,1789798.0,1782959.0
Wisconsin,5771337.0,5778708.0,5795483.0,5813568.0,5822434.0,5892323.0,5895908.0
Wyoming,586107.0,585501.0,579315.0,577737.0,578759.0,577267.0,578803.0